@font-face {
  font-family: Futura PT;
  src: url('/fonts/Futura.woff');
  font-weight: medium;
}

@font-face {
  font-family: SourceHanSans-Medium-Alphabetic;
  src: url('/fonts/SourceHanSans-Medium-Alphabetic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Futura PT, sans-serif;
}

.wrapper {
  display: flex;
  user-select: none;
  word-break: break-word;
}

.textAnimation {
  display: inline-block;
  white-space: nowrap;
  animation: floatText 15s infinite linear;
  padding-left: 100%; /*Initial offset*/
}

.textAnimation:hover {
  animation-play-state: paused;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}