@font-face {
  font-family: Futura PT;
  src: url('/fonts/Futura.woff');
  font-weight: medium;
}

@font-face {
  font-family: SourceHanSans-Medium-Alphabetic;
  src: url('/fonts/SourceHanSans-Medium-Alphabetic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Futura PT, sans-serif;
}

.wrapper {
  display: flex;
  user-select: none;
}