.category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: 300px;
    max-height: 100vh;
    height: 100vh;
    background: #313F46 0% 0% no-repeat padding-box;
}

.category .category-item__top {
    margin-bottom: 15px;
    margin-top: 20px;
}

.category .category-list {
    overflow-y: overlay;
    max-height: calc(100vh - 300px);
}

.category .category-list::-webkit-scrollbar {
    width: 8px;
}

.category .category-list::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 1); 
    border-radius: 10px;
}

.category .category-list::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.8); 
}

.category .category-item {
    position: relative;
    border-radius: 50px;
}

.category .category-category-item {
    margin-left: 10px;
}

.category .category-button {
    max-width: 270px;
    max-height: 50px;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 50px;
    opacity: 1;
    font-size: 16px;
}

.category .category-button[value] {
    text-align: left;
    padding-left: 58px;
}

.category .category-button__categories[value] {
    text-align: left;
    padding-left: 92px;
}

.category .category-image {
    position: absolute;
    padding: 17px 0px 0px 25px;
}

.category .category-image__categories {
    position: absolute;
    padding: 17px 0px 0px 58px;
}

.category .category-image__delete {
    position: absolute;
    margin: 14px 0px 0px 19px;
}

.category .category-create__new {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.category .category-all__note {
    background: none;
    color: #FFFFFF;
}

.category .category-category {
    background: none;
    color: #FFFFFF;
}

.category .category-clip {
    background: none;
    color: #FFFFFF;
}

.category .category-selected {
    background-color: #2B3137;
}

.category .category-top div span {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #FFFFFF;
    background-color: #454E55;
    text-align: center;
    padding: 6px 13px;
    border-radius: 20px;
}

.category .category-bottom {
    margin-bottom: 15px;
}