@font-face {
    font-family: 'Noto Sans Japanese', sans-serif;
    src: url("http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
}

.listMemo {
    max-width: 450px;
    width: 450px;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #DCDCDC;
    box-sizing: border-box;
}

.listMemo .listMemoShortcut_none {
    display: flex;
    align-items: center;
}

.listMemo .listMemoNone {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.listMemo .listMemoNone img {
    width: 50%;
    opacity: 0.5;
}

.listMemo .listMemoNone span {
    margin-top: 30px;
    opacity: 0.6;
    font-size: 25px;
}

.listMemo>div {
    width: 100%;
}

.listMemo .listMemoSearch {
    padding: 15px 19px;
    border-bottom: 1px solid #DCDCDC;
    background-color: #F4F4F4;
    box-sizing: border-box;
    height: 70px;
}

.listMemo .listMemoSearch input {
    width: 100%;
    height: 40px;
    max-width: 410px;
    max-height: 40px;
    border-radius: 120px;
    background-color: #FFFFFF;
    border: 1px solid #CDD6DD;
    padding: 0px 60px 0px 20px;
    box-sizing: border-box;
}

.listMemo .listMemoSearch input::placeholder {
    color: #CDD6DD;
    font-family: SourceHanSans-Medium-Alphabetic, sans-serif;
}

.listMemo .listMemoSearch img {
    position: absolute;
    margin: 10px 0px 0px -40px;
}

.listMemo .listMemoTitle {
    max-height: 50px;
    height: 50px;
    border-bottom: 1px solid #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 19px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    box-sizing: border-box;
}

.listMemo .listMemoTitle span {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
    color: #2B3137;
    opacity: 0.8;
}

.listMemo .listMemoShortcut {
    overflow-y: auto;
    scrollbar-width: thin;
    height: calc(100vh - 120px);
}

.listMemo .listMemoShortcut::-webkit-scrollbar {
    width: 8px;
}

.listMemo .listMemoShortcut::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 1);
    border-radius: 10px;
}

.listMemo .listMemoShortcut::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.8);
}
/* 
@media screen and (max-width: 1200px) {
    .listMemo {
        width: 350px;
    }
} */

@media screen and (max-width: 1200px) {
    .listMemo {
        display: none;
    }
}