
.listMemo .listMemoItem {    
    max-height: 80px;
    height: 80px;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
    box-sizing: border-box;
}

.listMemo .listMemoItem .ItemSelected {
    width: 5px;
    height: 80px;
    background-color: #FE6100;
}

.listMemo .listMemoItem .ItemUnselected {
    width: 5px;
    height: 80px;
    background-color: unset;
}

.listMemo .memoItem {
    max-height: 80px;
    height: 80px;
    max-width: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 15px;
    box-sizing: border-box;
}

.listMemo .memoItem > div {
    line-height: 26px;
}

.listMemo .memoItem .MemoItemClip {
    padding: 8px 9px;
    border-radius: 50%;
    background: rgba(254,61,00,0.2) 0% 0% no-repeat padding-box;
}

.listMemo .memoItem .memoItemTitle {
    font-size: 20px;
    letter-spacing: 0;
    color: #2B3137;
}

.listMemo .memoItemCategoty img {
    width: 12px;
    opacity: 0.5;
}

.listMemo .memoItemDetail {
    display: flex;
}

.listMemo .memoItemDetail img {
    padding-right: 6px;
}

.listMemo .memoItemTime {
    padding-right: 20px;
}

.listMemo .memoItemTime, .memoItemCategoty span {
    font-size: 14px;
    color: #313F46;
    opacity: 0.5;
}