.memoDetailcontent {
    margin: 0px 33.5px 0px 40px;
    box-sizing: border-box;
}

.memoDetailcontent .memoDetailcontent-header {
    display: flex;
    align-items: flex-end;
    height: 50px;
}

.memoDetailcontent .memoDetailcontent-header div {
    margin-right: 17px;
    display: flex;
}

.memoDetailcontent .memoDetailcontent-header div img {
    margin-right: 7px;
    width: 14px;
}

.memoDetailcontent .memoDetailcontent-header div span {
    color: #2B3137;
    font-size: 14px;
}

.memoDetailcontent .memoDetailcontent-header div .listdata input {
    border: none;
    padding: 0px;
}

.memoDetailcontent .memoDetailcontent-header div .listdata input[value] {
    font-size: 14px;
}

.memoDetailcontent .memoDetailcontent-noTitle[value] {
    font-size: 26px;
}

.memoDetailcontent .memoDetailcontent-title {
    height: 80px;
    width: 100%;
    background-color: unset;
    display: flex;
    align-items: flex-end;
    border: none;
    border-bottom: 1px solid #F0F0F0;
    padding: 20px 10px 0px 10px;
    box-sizing: border-box;
    font-size: 36px;
    color: #2B3137;
    user-select: text;
    white-space: nowrap;
    overflow-x: scroll;
}

.memoDetailcontent .memoDetailcontent-title::-webkit-scrollbar {
    height: 0px;
}

.memoDetailcontent .memoDetailcontent-title::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 1);
    border-radius: 10px;
}

.memoDetailcontent .memoDetailcontent-title::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.8);
}

.memoDetailcontent .memoDetailcontent-content {
    height: calc(100vh - 70px - 50px - 80px - 43px);
    padding-right: 41%;
    margin-top: 21.5px;
    overflow-y: auto;
    box-sizing: border-box;
    color: #2B3137;
    user-select: text;
    background: none;
    border: none;
    width: 100%;
    font-size: 16px;
    resize: none;
}

.memoDetailcontent .memoDetailcontent-noContent {
    height: calc(100vh - 70px - 50px - 80px - 43px - 120px);
}

.memoDetailcontent .noMemo .btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.memoDetailcontent .noMemo .btn input {
    width: 100px;
    height: 40px;
    max-width: 410px;
    max-height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #CDD6DD;
    box-sizing: border-box;
    background-color: #2B3137;
    color: #ffffff;
    float: right;
}

.memoDetailcontent .memoDetailcontent-content::-webkit-scrollbar {
    width: 8px;
}

.memoDetailcontent .memoDetailcontent-content::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 1);
    border-radius: 10px;
}

.memoDetailcontent .memoDetailcontent-content::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.8);
}

@media screen and (max-width: 1200px) {
    .memoDetailcontent .memoDetailcontent-content {
        padding-right: 20%;
    }
}