.memoDetailcontent {
    margin: 0px 33.5px 20px 40px;
    box-sizing: border-box;
}

.memoDetailcontent .memoDetailcontent-header {
    display: flex;
    align-items: flex-end;
    height: 50px;
}

.memoDetailcontent .memoDetailcontent-header div {
    margin-right: 17px;
    display: flex;
}

.memoDetailcontent .memoDetailcontent-header div img {
    margin-right: 7px;
    width: 14px;
}

.memoDetailcontent .memoDetailcontent-header div span {
    color: #2B3137;
    font-size: 14px;
}

.memoDetailcontent .memoDetailcontent-title {
    height: 80px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #F0F0F0;
    padding: 0px 0px 9.5px 10px;
    box-sizing: border-box;
    font-size: 36px;
    color: #2B3137;
}

.memoDetailcontent .memoDetailcontent-content {
    height: calc(100vh - 70px - 50px - 80px - 43px);
    padding-right: 41%;
    margin: 21.5px 0px;
    overflow-y: auto;
    box-sizing: border-box;
}

.memoDetailcontent .memoDetailcontent-content::-webkit-scrollbar {
    width: 8px;
}

.memoDetailcontent .memoDetailcontent-content::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 1); 
    border-radius: 10px;
}

.memoDetailcontent .memoDetailcontent-content::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.8); 
}

@media screen and (max-width: 1200px) {
    .memoDetailcontent .memoDetailcontent-content {
        padding-right: 20%;
    }
}
